<div [class.isEmpty]="isEmpty" (dragenter)="checkIfFileHovered($event)" (dragleave)="checkIfFileHoveredOnLeave($event)"
  (drop)="dragFileDroped($event)" (dragover)="allowDrop($event)">
  <div class="header bg-primary">
    <a routerLink="/" class="mt-1 ml-1 brand-link">
      Initedit Photo
    </a>
    <i class="fa fa-lock app-lock-btn" *ngIf="isLocked && canEdit==false" (click)="handleLocking()"></i>
    <i class="fa fa-unlock-alt app-lock-btn" *ngIf='isLocked && canEdit' (click)="lockCurrentAlbum()"></i>
    <i class="fa fa-unlock app-lock-btn" *ngIf='isCreated==false &&  isLocked==false' (click)="handleLocking()"></i>

    <app-upload-button class="upload-button" [albumName]='name' (ICallback)="uploadUpdate($event)"
      (IMessage)="sendMessage($event)">
    </app-upload-button>
    <div class="error-message bg-alert" [hidden]="!errorMessage">{{errorMessage}}</div>
  </div>
  <h2 class="text-center mb-3 mt-5">
    <span class="album-name"> {{name|uppercase}}</span>
  </h2>
  <app-loading *ngIf="_loading"></app-loading>
  <div *ngIf="showPasswordScreen">
    <app-password (IOnClose)="onPasswordClosed($event)" [albumInfo]="albumInfo"></app-password>
  </div>
  <div *ngIf="photos" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50" (scrolled)="onScroll()">
    <ngx-masonry [options]="ngxMasonaryOption" class="pl-1">
      <div ngxMasonryItem *ngFor="let photo of photos; let i = index" [prepend]='photo.prepend'  class="masonry-item grid-item grid-sizer">
        <app-photo-card [photo]="photo" [albumName]='name'
          (OnDeleted)="OnPhotoDeleted($event)">
        </app-photo-card>
      </div>
    </ngx-masonry>
  </div>
  <h4 *ngIf="isEmpty" class="text-center empty">Its Empty.</h4>
  <h4 *ngIf="isError" class="text-center empty bg-danger text-white p-5">
    Its Error.<br />
    <small>{{errorMessage}}</small>
  </h4>
  <h4 *ngIf="_isAllPhotoLoaded" class="last-page-message mt-2 mb-0 py-2">
    You have reached to an end
  </h4>
</div>
