<div class="password-content col-sm-12">
  <!-- Modal Header -->
  <div class="modal-header">
    <h4 class="modal-title w-100">Password</h4>
    <select (change)="onPrivacyChanged($event)" [(ngModel)]="selectedType" *ngIf="!isCreated"
      class="float-right form-control">
      <option value="1">Public</option>
      <option value="2">Protected</option>
      <option value="3">Private</option>
    </select>
  </div>

  <!-- Modal body -->
  <div class="modal-body">
    <input type="text" disabled placeholder="type password" class="form-control mb-2" value="{{name}}" />

    <input [type]="_passwordType" type="password" *ngIf="isPasswordVisible" [(ngModel)]="password"
      placeholder="type password" class="form-control" />
  </div>

  <!-- Modal footer -->
  <div class="modal-footer">
    <button *ngIf="!isCreated" type="button" class="btn btn-primary" (click)="create()">Create</button>
    <button *ngIf="isCreated" type="button" class="btn btn-primary" (click)="authenticate()">Unlock</button>
    <button type="button" class="btn btn-danger" (click)="hideModel(false)">Close</button>
  </div>
</div>
