/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.full-width-dialog{
  max-width: 100vw !important;
}
.full-width-dialog .mat-dialog-container {
  background-color: #111;
  padding: 0;

}
.ui-toast-center .mat-simple-snackbar {
  text-align: center !important;
  justify-content: center;
}
